<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ERP_CIEConnectionString" connectionString="Data Source=INDELEK.ELECTROSYSTEMSNET.COM,49184;Initial Catalog=ERP_CIE;Persist Security Info=True;User ID=mds_sistema;Password=O4TQ9IX6RC2U" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
<!--<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="Formularios/Principal.aspx"/>
    <compilation debug="true"/>
  </system.web>
</configuration>-->